.card {
    position: relative;
    height: 98%;
    width: 99%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 63%;
}